apiVersion: apps/v1
kind: Deployment
metadata:
  name: custom-controller
  labels:
    app: custom-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: custom-controller
  template:
    metadata:
      labels:
        app: custom-controller
    spec:
      serviceAccountName: custom-controller-sa
      imagePullSecrets:
      - name: new-registry-credentials   
      containers:
      - name: controller
        image: gitlab.risk-vantagefx.com:5050/pricingengine/pricing-engine-helm-charts/xyz-test:latest 
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: "200m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: custom-controller-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: custom-controller-manager-role
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch", "delete"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: custom-controller-rolebinding
subjects:
  - kind: ServiceAccount
    name: custom-controller-sa
    namespace: pricing-engine-staging
roleRef:
  kind: ClusterRole
  name: custom-controller-manager-role
  apiGroup: rbac.authorization.k8s.io
